@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
body{
    text-transform: capitalize;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
}
header{
    
    z-index: +100;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    top:-40px;
}
.recipe-feed{
    overflow: auto;
}
.margin-1rem-left{
    margin-left:1rem;
}
#edit-footer{
    display:none;
}
.overlay-layer-delete{
    position:fixed;
    z-index: 1500;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    display:none;

}
.modal-layer-delete{
    position: absolute;
    z-index: 1600;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:35%;
    height:25%;
    border-radius:0.4rem;
    padding:1rem;
}
.add-recipe{
    margin:2rem 0 0 2rem;
    font-size:32px !important;
}
.smoke-bg{
    background-color:rgba(0,0,0,0.3);
    border-radius:2px;
    padding:5px;
}
.card.medium{
    height:350px;
}
.card-image{
    max-height: 60% !important;
}
.add-recipe-btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.btn-floating.btn-large i {
    line-height: 80px;
}
.btn-large i {
    font-size: 3rem;
}
.btn-floating.btn-large {
    width: 80px;
    height: 80px;
}
.img-max-sizes {
    max-height: 50vh;
    margin: auto;
}
.sidenav-element{
    color:black !important;
    text-decoration: none !important;
}
.padding{
    padding:2rem;
}
.space-around{
    display:flex;
    justify-content: space-between;
}
.dark-blue{
    background-color: #537780;
}
.white-yellow{
    background-color: #fffcca;
}
.card-color{
    background-color: #b6eb7a;
}
.search-box{
    position: sticky;
    top:0px;
}
@media only screen and (min-width: 1024px){
    .fixed-recipe-feed{
        top:11vh;
        left:17vw !important;
    }
    .vegan-switch-edit {
    margin-top: 0.5rem;
}
}