{% extends 'base.html' %}
{% block content %}
    <h1 class="white-text center">COOK BOOK ABOUT</h1>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Goal<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Goal in depth<i class="material-icons right">close</i></span>
                <p>The porpouse of the website is to create a huge data base or common said a cook book with diferent
                 recipes from all around the word where everyone can find an idea for next dinner or where you can taste a piece of world.</p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Do you want to get in to this?<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">What you can do.<i class="material-icons right">close</i></span>
                <p>If you want to help us to achieve our goal just add a recipe that you find you worthy to share with others</p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">How is works?<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Simple!<i class="material-icons right">close</i></span>
                    <p><i class="material-icons">home</i> Press it if you want to get back on the landing page where you can find all the recipes ever uploaded</p>
                    <p><i class="material-icons">add</i> Press it if you want to helps us by uploading a new recipe as well as that big card with a red button from the landing page</p>
                    <p><i class="material-icons">search</i> The left pannel is designed to make your life easier in your journey to find a recipe, you can fill all the fields or just one, how you feel confortable</p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Who we are or I am?<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">My name is George<i class="material-icons right">close</i></span>
                    <p>I am 23 soon 24 yearls old I am interested in Web Developement and I work in warehouse right now, 
                    because I need more knowladge to work as a web developer and I need money to life so I had to figure out a way to hit that. So thank to Code Institute I can get more knowladge to
                    work as web developer and working in the warehouse I can survive <i class="material-icons right">insert_emoticon</i></p>
                    <p>I created this website as a project for the course that I am folowing right now, Full Stack Web Developer provided by Code Institute</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Contact<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Send us an email<i class="material-icons right">close</i></span>
                    <p>How do you find the website?</p>
                    <p>Have you find an issue?</p>
                    <p>Do you have an idea that it's worthy to implement?</p>
                    <p>Let me now! By filling the form</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card medium grey lighten-1">
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Future updates<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">So Many Awesome Possibilties, So hard to pick<i class="material-icons right">close</i></span>
                    <p>Right now I am thinking to add a forum where you can discuss with other diferent topics from what to cook for my birthday or Is is healthy?</p>
                    <p>As well as a chat for quick chat with other master chiefs that are looking in same moment with you for recipes</p>
                    <p>And ofcourse to add a comment box for every recipe to share your experience when you were cooking that dish and how it was</p>
                    <p>If you have more ideas let me know in the contact card</p>
                </div>
            </div>
        </div>
  </div>
    
{% endblock %}