{% extends 'base.html' %}
{% block content %}
    <h4 class="center black-text ">COOK BOOK ABOUT</h4>
    <div class="row black-text">
        <div class="col s12 m6 l4">
            <div class="card medium card-color ">
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4 ">Goal<i class="material-icons right">more_vert</i></span>
                    <a class="btn-floating activator btn-large waves-effect waves-light yellow add-recipe-btn"><i class="material-icons">star</i></a>
                </div>
                <div class="card-reveal yellow">
                    <span class="card-title text-darken-4">Goal in depth<i class="material-icons right">close</i></span>
                <p>The porpouse of the website is to create a huge data base or common said a cook book with different
                 recipes from all around the word where everyone can find an idea for next dinner or where can taste a piece of the world.</p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium card-color">
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4">Do you want to get in to this?<i class="material-icons right">more_vert</i></span>
                    <a class="btn-floating activator btn-large waves-effect waves-light light-green accent-3 add-recipe-btn"><i class="material-icons">pan_tool</i></a>
                </div>
                <div class="card-reveal light-green accent-3">
                    <span class="card-title grey-text text-darken-4">Awesome!<i class="material-icons right">close</i></span>
                <p>If you want to help me to achieve the goal just add a recipe that you want to share with the community</p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium card-color">
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4">How is works?<i class="material-icons right">more_vert</i></span>
                    <a class="btn-floating activator btn-large waves-effect waves-light blue add-recipe-btn"><i class="material-icons">help</i></a>
                </div>
                <div class="card-reveal blue">
                    <span class="card-title grey-text text-darken-4">Simple!<i class="material-icons right">close</i></span>
                    <p><i class="material-icons">home</i> Press it if you want to get back on the landing page where you can find all the recipes ever uploaded</p>
                    <p><i class="material-icons">add</i> Press it if you want to upload a new recipe as well as that a blue button from the landing page</p>
                    <p><i class="material-icons">search</i> The left pannel is designed to make your life easier in your journey to find a recipe, you can fill all the fields or just one, how you feel confortable</p>
                    <p><i class="material-icons">phone_iphone</i>On the mobile phone you can find the search box and the menu plus other features by pressing  <i class="material-icons">dehaze</i></p>
                </div>
            </div>
        </div>
         <div class="col s12 m6 l4">
            <div class="card medium card-color">
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4">Who we are or I am?<i class="material-icons right">more_vert</i></span>
                    <a class="btn-floating activator btn-large waves-effect waves-light indigo add-recipe-btn"><i class="material-icons">person</i></a>
                </div>
                <div class="card-reveal indigo">
                    <span class="card-title grey-text text-darken-4">My name is George<i class="material-icons right">close</i></span>
                    <p>I am 23, soon 24 yearls old and I am interested in to Web Developement and AI</p><i class="material-icons right">insert_emoticon</i>
                    <p>I created this website as a project for the course that I am folowing right now, Full Stack Web Developer provided by Code Institute</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card medium card-color">
                <div class="card-content">
                <a class="btn-floating activator btn-large waves-effect waves-light green add-recipe-btn"><i class="material-icons">question_answer</i></a>
                    <span class="card-title activator white-text text-darken-4">Contact<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal green">
                    <span class="card-title grey-text text-darken-4">Send us an email<i class="material-icons right">close</i></span>
                    <p>How do you think the website?</p>
                    <p>Have you find an issue?</p>
                    <p>Do you have an idea to implement?</p>
                    <p>Let me now! By filling the form</p>
                    <div class="row smoke-bg">
                        <form action="/comment" method="POST" class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                <input placeholder="Your name or a nickname" name="name" id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                <input placeholder="To know where to thank you" name="email" id="email" type="email" class="validate">
                                <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field">
                                        <textarea placeholder="Your comment matters" name="comment" id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                                        <label for="textarea2">Your comment</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light grey right" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card medium card-color">
                <div class="card-content">
                    <a class="btn-floating activator btn-large waves-effect waves-light yellow add-recipe-btn"><i class="material-icons">show_chart</i></a>
                    <span class="card-title activator white-text text-darken-4">Comming updates<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal yellow">
                    <span class="card-title grey-text  text-darken-4">So Many Awesome features!!!<i class="material-icons right">close</i></span>
                    <p>Let me tell you about couple of them:</p>
                    <p>A forum where you can open a new topic like, what to cook for my next birthday or for a comming event</p>
                    <p>A chat where you can talk with other master chiefs that are looking for recipes in same moment as you</p>
                    <p>A comment section for every recipe</p>
                    <p>What do you think? Let me now in the contact card</p>
                </div>
            </div>
        </div>
  </div>
    
{% endblock %}