<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
        <div class="overlay-layer-delete" id="delete-modal-msg">
            <div class="modal-layer-delete blue lighten-5">
                <div class="row">
                    <div class="col s12">
                        <h5 class="center-align">Delete current recipe?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6" id="confirm-btn"><a class="waves-effect waves-light red darken-1 btn-small"><i class="material-icons left">check</i>Confirm</a></div>
                    <div class="col s6 push-s2" id="cancel-btn"><a class="waves-effect waves-light btn-small"><i class="material-icons left">cancel</i>Cancel</a></div>
                </div>
            </div>
        </div>
    <header>
        <div class="row">
            <div class="col m6">
            <h1>Cook Book</h1>
            </div>
            <div class="col m6">
                <div class="row">
                    <div class="col m4"><a href="/">Home</a></div>
                    <div class="col m4"><a href='add_recipe.html'>Add Recipe</a></div>
                    <div class="col m4">About Us</div>
                </div>
            </div>
        </div> 
    </header>
    <div class="row">
     <div class="col s2">
            <form action="#">
                <div class="row blue lighten-5">
                    <div class="col s12"><h5>Search</h5></div>
                    <div class="input-field col s12">
                                <input placeholder="Name of the recipe" name="search_name" type="text" class="validate"><br>
                                <label for="search_name" class="active">Name</label>
                    </div>
                    <div class="col s12 input-field">
                     <select name="zones" multiple>
                        {% for area in zones %}
                            {% for x in area.zone %}
                                <option name="zones" value="{{x}}" > {{x}} </option>
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a country</label>
                    </div>
                    <div class="col s12 input-field">
                     <select name="types" multiple>
                        {% for type in types %}
                            {% for x in type.rep_type %}
                                <option name="types" value="{{x}}"> {{x}} </option>
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a type</label>
                    </div>
                    <div class="col s12">
                        <span>Vegan?</span>
                        <div class="switch">
                            <label>
                                No
                                <input id="vegan" name="vegan" type="checkbox">
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col s8 push-s6">
                        <button class="waves-effect waves-light btn" href="/find_recipes" ><i class="material-icons right">search</i>Find</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col s2">
            <div class="card">
                <span class="card-title">Chat</span>
                <div class="card-content">
                    <div class="card">
                        <p>Nickname</p>
                        <p>This will be a message</p>
                    </div> 
                </div>
                <div class="card">
                        <p>Here will be the input for text and send button</p>      
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/javascript/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.modal').modal();});
        $(document).ready(function(){
        $('select').formSelect();
  });
    </script>
</body>
</html>    