<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
    <nav>
    <div class="nav-wrapper grey lighten-1">
      <a href="/" class="brand-logo"><i class="large material-icons">restaurant_menu</i>COOK BOOK</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="{{url_for('add_recipe')}}"><i class="large material-icons">add</i></a></li>
        <li><a href="#"><i class="large material-icons">info</i></a></li>
      </ul>
    </div>
  </nav>
    </header>
    <div class="row"> <!---Seach Side-->
     <div class="col s2 fixed-seach-box white-text">
            <form action="/find_recipes" method="POST">
                <div class="row smoke-bg">
                    <div class="col s12"><h5>Search</h5></div>
                    <div class="input-field col s12">
                                <input placeholder="Name of the recipe" name="search_name" type="text" class="validate"><br>
                                <label for="search_name" class="active">Name</label>
                    </div>
                    <div class="col s12 input-field">
                     <select name="zones" multiple>
                     <option value="World wide" disabled selected>World wide</option>
                        {% for area in zones %}
                            {% for x in area.zone %}
                                {% if x != "world wide" %}
                                <option name="zones" value="{{x}}" > {{x}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a country</label>
                    </div>
                    <div class="col s12 input-field">
                     <select name="types" multiple>
                     <option value="Any" disabled selected>Any</option>
                        {% for type in types %}
                            {% for x in type.rep_type %}
                                {% if x != "any"  %}
                                <option name="types" value="{{x}}"> {{x}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a type</label>
                    </div>
                    <div class="col s12">
                        <span>Vegan?</span>
                        <div class="switch">
                            <label>
                                No
                                <input id="vegan" name="vegan_search" type="checkbox">
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col s8 push-s6">
                        <button class="waves-effect grey lighten-1 btn" ><i class="material-icons right">search</i>Find</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s10  fixed-recipe-feed "> <!---Feed Side-->
            <div class="scroll-able smoke-bg">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/javascript/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.modal').modal();});
        $(document).ready(function(){
        $('select').formSelect();
  });
    </script>
</body>
</html>    