<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cook Book</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<ul id="slide-out" class="sidenav logo-style">
    <li>
        <div class="user-view"><a href="/" class="sidenav-element white-text"><h1 class="white-text">COOK BOOK</h1></a>
            <div class="row">
                <div class="col s4"><a class="sidenav-element" href="/"><i class="material-icons white-text">home</i></a></div>
                <div class="col s4"><a class="sidenav-element" href="{{url_for('add_recipe')}}"><i class="material-icons white-text">add</i></a></div>
                <div class="col s4"><a class="sidenav-element" href="{{url_for('about')}}"><i class="material-icons white-text">info</i></a></div>
            </div>
        </div>
    </li>
    <li>
        <form action="/find_recipes" method="POST">
            <div class="row smoke-bg white-text">
                <div class="col s12 "><h5>Search</h5></div>
                    <div class="input-field col s12">
                        <input placeholder="Name of the recipe" name="search_name" type="text" class="validate"><br>
                        <label for="search_name" class="active">Name</label>
                    </div>
                <div class="col s12 input-field">
                    <select name="zones" multiple>
                    <option value="World wide" disabled selected>World wide</option>
                        {% for area in zones %}
                            {% for x in area.zone %}
                                {% if x != "world wide" %}
                                <option name="zones" value="{{x}}" > {{x}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a country</label>
                    </div>
                    <div class="col s12 input-field">
                        <select name="types" multiple>
                        <option value="Any" disabled selected>Any</option>
                        {% for type in types %}
                            {% for x in type.rep_type %}
                                {% if x != "any"  %}
                                <option name="types" value="{{x}}"> {{x}} </option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </select>
                        <label>Select a type</label>
                    </div>
                    <div class="col s12">
                        <span>Vegan?</span>
                        <div class="switch">
                            <label>
                            No
                            <input name="vegan_search" type="checkbox">
                            <span class="lever"></span>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="col s8 push-s7">
                    <button class="waves-effect grey lighten-1 btn black-text" ><i class="material-icons right">search</i>Find</button>
                </div>
            </div>
        </form>
    </li>
  </ul>
<body class="bg-color white-text">
    <header>
    <nav>
        <div class="nav-wrapper logo-style">
        <a href="/" class="brand-logo">COOK BOOK<i class="material-icons hide-on-med-and-down">restaurant_menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons ">home</i></a></li>
            <li><a href="{{url_for('add_recipe')}}"><i class="large material-icons ">add</i></a></li>
            <li><a href="{{url_for('about')}}"><i class="large material-icons ">info</i></a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
        </div>
  </nav>
    </header>
    <div class="row">
        <div class="col m2 hide-on-med-and-down card-color search-box white-text"> <!---Seach Side-->
            <form action="/find_recipes" method="POST">
                <div class="row">
                    <div class="col s12"><h5>Search</h5></div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Name of the recipe" name="search_name" type="text" class="validate"><br>
                        <label for="search_name" class=" active">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <select name="zones" multiple>
                            <option value="World wide" disabled selected>World wide</option>
                            {% for area in zones2 %}
                                {% for x in area.zone %}
                                    {% if x != "world wide" %}
                                    <option name="zones" value="{{x}}" >{{x}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <label>Select a country</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <select name="types" multiple>
                            <option value="Any" disabled selected>Any</option>
                            {% for type in types2 %}
                                {% for x in type.rep_type %}
                                    {% if x != "any"  %}
                                        <option name="types" value="{{x}}"> {{x}} </option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <label>Select a type</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <span>Vegan?</span>
                        <div class="switch">
                            <label>
                                No
                                <input name="vegan_search" type="checkbox">
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8 m9 l10 push-s5 push-m3 push-l5">
                        <button class="waves-effect grey card-color btn-small white-text" ><i class="material-icons right">search</i>Find</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s12 l10 recipe-feed right">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='javascript/inputs_buttons.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/delete_modal.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        $('.modal').modal();
        $('select').formSelect();
        $('.sidenav').sidenav();});
    </script>
</body>
</html>    